<nav class="flex text-white flex-col">
    <a href="/" class="text-white font-bold text-2xl"><h1>DevFabien Blogs</h1></a>
    <div class="flex justify-between text-gray-300 border-b-2 my-6">
    <p>A Passionate developer</p>
    <ul class="flex gap-8">
        <li><a href="/about">About</a></li>
        <li><a href="/newBlog">New Blog</a></li>
    </ul> 
    </div>
    </nav>
