<nav>
    <a href="/"><h1>DevFabien Blogs</h1></a>
    <p>A Passionate developer</p>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/newBlog">New Blog</a></li>
    </ul> 
    </nav>
