<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devfabien Blogs| <%= title %></title>
</head>
<body>
    <%- include("./components/nav.ejs") %>
<div>
        <h1>About us</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi mollitia earum pariatur ut repellat nesciunt illo ipsam nam corporis a cumque aperiam ducimus, dicta ab, obcaecati in. Sequi?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque fugiat temporibus accusantium necessitatibus dolores minus! Architecto omnis reprehenderit distinctio, maiores possimus facilis, dolor, dicta quos maxime cum quis.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, maxime. Iusto voluptatibus ad autem id iure molestias nemo excepturi quo, alias earum possimus quae dolor eius placeat aspernatur.</p>
</div>
<%- include("./components/footer.ejs") %>

    </body>
</html>